@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@400&family=Zen+Kaku+Gothic+New:wght@300&display=swap');

.forgot-email-frame{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid #dadce0;
    width: 380px;
    height: 450px;
    margin:5% auto;
    padding: 38px 40px;
    font-family:"Roboto";
}

.logo{
    font-size: 34px;
    text-align: center;
}

.forgot-email-header{
    font-size: 28px;
    text-align: center;
    padding-top:10px;
    font-weight: normal;
}

.forgot-email-text{
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
}

.login-buttons{
    padding:20px;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 720px) {
    .forgot-email-frame {
        width: auto;
        margin: 8px 85px 0 5px ;
        border: none;
        padding: 14px 5px;
    }
}