
/* take anote css */

.note-container input{
    outline: none;
    border: none;
    min-height: 40px;
    font-size: 15px;
}
.note-container.notes{
    flex-direction:column;


}
.note-container > .Bottom {
    margin:10px;
    justify-content: space-between;
    
}
